<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>

  <link rel="stylesheet" href="../static/css/garden.css" />
  <link rel="stylesheet" href="../../static/css/garden.css" />
  <title>garden</title>
  <style>
    /* body {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(to bottom, #0072b4, #e9e9e7);
    } */



    .content {
      margin: 0;
      overflow: hidden;
      /* background-color: #87cefa; */
      width: 90%;
      height: 90%;
    }

    #sky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: linear-gradient(to bottom, #0072b4, #e9e9e7);
    }

    .write-container {
      text-align: center;
      position: relative;
      top: 150px;
    }

    .write-btn {
      display: inline-block;
      padding: 10px 20px;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 3px solid #3498db;
      color: #3498db;
      background-color: #ffffff;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
    }

    .write-btn:hover {
      background-color: #3498db;
      color: #ffffff;
    }

    .garden {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-color: #a0522d;
    }

    .sprout-container {
      position: absolute;
      bottom: 15%;
      left: 5%;
      right: 5%;
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    .sprout-btn {
      width: 60px;
      height: 60px;
      background: none;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      animation: float 2s infinite ease-in-out;
    }

    .sprout-btn img {
      width: 130%;
      height: 120%;
    }

    .sprout-btn:nth-child(even) {
      transform: translateY(50px);
    }

    .sprout-btn:hover {
      transform: scale(1.2);
      animation: none;
    }

    .sprout-btn img {
      width: 130%;
      height: 120%;
    }

    .sprout-btn:nth-child(even) {
      transform: translateY(50px);
    }

    .sprout-btn:hover {
      transform: scale(1.2);
      animation: none;
    }

    @keyframes float {

      0%,
      100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-10px);
      }
    }

    #animation_sky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-image: linear-gradient(to bottom, #0072b4, #e9e9e7);
      /* 이하 애니메이션 스타일 */
      opacity: 1;
      transition: opacity 0.25s ease-out;
    }

    .bush {
      width: 100%;
      height: 100%;
      display: flex;
      /* 요소를 가로로 두기 */

      align-items: flex-end;
      /* 바닥에 두기 */

      justify-content: center;
      /* 가로 줄의 가운데에 두기 */
    }

    @keyframes bushAnimation {
      0% {
        transform: scaleY(1) scaleX(1);
      }

      50% {
        transform: scaleY(1.03) scaleX(1.03);
      }

      100% {
        transform: scaleY(1) scaleX(1);
      }
    }

    .bush-sprite-box3 {
      height: 230px;
      width: 47.78px;
      /* background: rgba(255, 0, 0, 0.05); */
      /* border: solid #1c6f53; */
      opacity: 1;
      position: relative;
      transform: rotate(0deg);
    }

    .bush-sprite-box3:nth-child(n) {
      animation: bushAnimation 0.5s infinite;
      animation-delay: calc(0.07s * var(--i));
      /* --i는 각 요소의 인덱스 */
    }


    .bushpart-1-1 {
      height: 160px;
      width: 47.78px;
      background: transparent linear-gradient(180deg, #01552c 0%, #181d17 100%) 0% 0% no-repeat padding-box;
      border-radius: 30px 30px 0 0;
      position: relative;
      transform: scaleX(1.05);
      top: 0px;
      z-index: 1;
    }

    .bushpart-1-2 {
      height: 160px;
      width: 47.78px;
      background: transparent linear-gradient(180deg, #01552c 0%, #181d17 100%) 0% 0% no-repeat padding-box;
      border-radius: 30px 30px 0 0;
      position: relative;
      transform: scaleX(1.05);
      top: -125px;
      z-index: 2;
    }

    .bushpart-1-3 {
      height: 160px;
      width: 47.78px;
      background: transparent linear-gradient(180deg, #01552c 0%, #181d17 100%) 0% 0% no-repeat padding-box;
      border-radius: 30px 30px 0 0;
      position: relative;
      transform: scaleX(1.05);
      top: -250px;
      z-index: 3;
    }

    /* 덩굴 */

    @keyframes VineAnimation {
      0% {
        transform: translateY(100px);
        opacity: 1;
      }

      25% {
        transform: translateY(0px)
      }

      50% {
        transform: translateY(10px);
        opacity: 0.8;
      }

      75% {
        transform: translateY(0px)
      }

      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    .vine {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      /* 요소를 가로로 두기 */

      /* align-items: center; */
      justify-content: center;
      /* 가로 줄의 가운데에 두기 */
      z-index: 0;
      bottom: 180px;
    }

    .vine-2 {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      /* 요소를 가로로 두기 */

      /* align-items: center; */
      justify-content: center;
      /* 가로 줄의 가운데에 두기 */
      z-index: 0;
      bottom: 180px;
      left: 25%;
      ;
      opacity: 0.5;
    }

    .vine-3 {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      /* 요소를 가로로 두기 */

      /* align-items: center; */
      justify-content: center;
      /* 가로 줄의 가운데에 두기 */
      z-index: 0;
      bottom: 180px;
      left: -25%;
      opacity: 0.35;
    }

    .box-vine-set {
      height: 1200px;
      width: 70px;
      opacity: 1;
      position: absolute;
      bottom: 0%;
    }

    .vinepart-set {
      transform: rotate(180deg);
      position: relative;
      height: 588px;
    }

    .box-vine-set:nth-child(n) {
      animation: VineAnimation 5.5s infinite;
      animation-delay: calc(1.6s * var(--i));
      /* --i는 각 요소의 인덱스 */
    }


    .leaf-sprite-box {
      height: 210px;
      width: 77px;
      opacity: 1;
      transform: rotate(-5deg);
    }

    .leaf-sprite-1 {
      position: relative;
      z-index: 2;
      animation: popupAnimation 1s linear;
    }

    .leaf {
      width: 100%;
      height: 100%;
      position: absolute;
      /* 요소를 가로로 두기 */
      /* align-items: center; */
      justify-content: center;
      /* 가로 줄의 가운데에 두기 */
      top: 50px;
    }

    @keyframes popupAnimation {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1.03);
      }

      100% {
        transform: scaleY(1);
      }
    }

    /* @keyframes waveAnimation {
      0% {transform: scale(1); rotate: -10deg}
      10% {transform: scale(1.03); rotate: 10deg}
      100% {transform: scaleY(1); rotate: -10deg}
    } */
  </style>
</head>

<body>
  <div id="sky"></div>

  <div id="animation_sky">

    <div class="leaf">
      <div class="leaf-sprite-box">
        <div class="leaf-sprite-1">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140.481"
            height="223.477" viewBox="0 0 140.481 223.477">
            <defs>
              <style>
                .leaf-1 {
                  fill: url(#linear-gradient);
                }

                .leaf-2 {
                  clip-path: url(#clip-path);
                }
              </style>
              <linearGradient id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#74b93a" />
                <stop offset="1" stop-color="#01552c" />
              </linearGradient>
              <clipPath id="clip-path">
                <rect id="leaf" data-name="leaf" class="leaf-1" width="76.23" height="210.106"
                  transform="translate(0 0)" />
              </clipPath>
            </defs>
            <g id="leaf-part" data-name="leaf-part">
              <g id="leaf-group" data-name="leaf-group" class="leaf-2" transform="translate(0 0.004)">
                <path id="leaf-path" data-name="leaf-path" class="leaf-1"
                  d="M76.129,183.788C74.915,170.52,36.255,12.657,36.255,12.657A13.9,13.9,0,0,0,14.111,2.771C5.367,9.275-.83,18.866.091,28.939c.97,10.6,9.6,19.252,20.1,23.922-9.475,6.5-16.394,16.566-15.424,27.17s9.6,19.252,20.1,23.922c-9.475,6.5-16.394,16.566-15.424,27.17s9.6,19.252,20.1,23.922c-9.475,6.5-16.394,16.566-15.424,27.17,1.38,15.088,18.27,26.218,33.975,27.56a24.14,24.14,0,0,0,28.046-25.988"
                  transform="translate(0 -0.004)" />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>


    <div class="vine">
      <div class="box-vine-set">
        <div class="vinepart-set">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71.476"
            height="608.264" viewBox="0 0 73.5 608.264">
            <defs>
              <style>
                .vine_one {
                  fill: none;
                  stroke: #1e8c09;
                  stroke-width: 20px;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <clipPath id="clip-path">
                <rect id="사각형_49" data-name="사각형 49" class="cls-1" width="71.476" height="608.264" />
              </clipPath>
            </defs>
            <path id="패스_3" data-name="패스 3" class="vine_one"
              d="M50.507,11.68C16.5,40.017,16.5,84.019,50.507,112.356s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.676s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.675s34.009,72.339,0,100.676"
              transform="translate(-14.769 -9.575)" />
          </svg>
        </div>

        <div class="vinepart-set">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71.476"
            height="608.264" viewBox="0 0 73.5 608.264">
            <defs>
              <style>
                .vine_two {
                  fill: none;
                  stroke: #1e8c09;
                  stroke-width: 20px;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <clipPath id="clip-path">
                <rect id="사각형_49" data-name="사각형 49" class="cls-1" width="71.476" height="608.264" />
              </clipPath>
            </defs>
            <path id="패스_3" data-name="패스 3" class="vine_two"
              d="M50.507,11.68C16.5,40.017,16.5,84.019,50.507,112.356s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.676s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.675s34.009,72.339,0,100.676"
              transform="translate(-14.769 -9.575)" />
          </svg>
        </div>




      </div>
    </div>

    <div class="vine-2">
      <div class="box-vine-set">
        <div class="vinepart-set">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71.476"
            height="608.264" viewBox="0 0 73.5 608.264">
            <defs>
              <style>
                .vine_one {
                  fill: none;
                  stroke: #1e8c09;
                  stroke-width: 20px;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <clipPath id="clip-path">
                <rect id="사각형_49" data-name="사각형 49" class="cls-1" width="71.476" height="608.264" />
              </clipPath>
            </defs>
            <path id="패스_3" data-name="패스 3" class="vine_one"
              d="M50.507,11.68C16.5,40.017,16.5,84.019,50.507,112.356s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.676s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.675s34.009,72.339,0,100.676"
              transform="translate(-14.769 -9.575)" />
          </svg>
        </div>

        <div class="vinepart-set">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71.476"
            height="608.264" viewBox="0 0 73.5 608.264">
            <defs>
              <style>
                .vine_two {
                  fill: none;
                  stroke: #1e8c09;
                  stroke-width: 20px;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <clipPath id="clip-path">
                <rect id="사각형_49" data-name="사각형 49" class="cls-1" width="71.476" height="608.264" />
              </clipPath>
            </defs>
            <path id="패스_3" data-name="패스 3" class="vine_two"
              d="M50.507,11.68C16.5,40.017,16.5,84.019,50.507,112.356s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.676s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.675s34.009,72.339,0,100.676"
              transform="translate(-14.769 -9.575)" />
          </svg>
        </div>




      </div>
    </div>

    <div class="vine-3">
      <div class="box-vine-set">
        <div class="vinepart-set">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71.476"
            height="608.264" viewBox="0 0 73.5 608.264">
            <defs>
              <style>
                .vine_one {
                  fill: none;
                  stroke: #1e8c09;
                  stroke-width: 20px;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <clipPath id="clip-path">
                <rect id="사각형_49" data-name="사각형 49" class="cls-1" width="71.476" height="608.264" />
              </clipPath>
            </defs>
            <path id="패스_3" data-name="패스 3" class="vine_one"
              d="M50.507,11.68C16.5,40.017,16.5,84.019,50.507,112.356s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.676s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.675s34.009,72.339,0,100.676"
              transform="translate(-14.769 -9.575)" />
          </svg>
        </div>

        <div class="vinepart-set">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="71.476"
            height="608.264" viewBox="0 0 73.5 608.264">
            <defs>
              <style>
                .vine_two {
                  fill: none;
                  stroke: #1e8c09;
                  stroke-width: 20px;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  stroke-miterlimit: 10;
                }
              </style>
              <clipPath id="clip-path">
                <rect id="사각형_49" data-name="사각형 49" class="cls-1" width="71.476" height="608.264" />
              </clipPath>
            </defs>
            <path id="패스_3" data-name="패스 3" class="vine_two"
              d="M50.507,11.68C16.5,40.017,16.5,84.019,50.507,112.356s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.676s34.009,72.339,0,100.675h0c-34.009,28.337-34.009,72.339,0,100.675s34.009,72.339,0,100.676"
              transform="translate(-14.769 -9.575)" />
          </svg>
        </div>




      </div>
    </div>


    <div class="bush">
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>
      <div class="bush-sprite-box3">
        <div class="bushpart-1-1"></div>
        <div class="bushpart-1-2"></div>
        <div class="bushpart-1-3"></div>
      </div>

    </div>



  </div>


  <div clas="content">
    <!-- 마이페이지 이동 버튼 -->
    <button type="button" class="my-page-btn" onclick="profile()">마이페이지</button>
    <button type="button" class="my-page-btn" onclick="randomWalk()">산책하기</button>
    <button type="button" class="my-page-btn" onclick="signOut()">로그아웃</button>

    <div> 도착한 메시지 <%= msg.length %> 통 </div>

    <!-- 롤링페이퍼 작성하기 버튼 -->
    <form name="newMsg">
      <input type="text" name="gardenId" value="<%=gardenId%>" hidden>
      <div class="write-container">
        <div>
          <%=gardenName%>의 가든
        </div>
        <div>
          제목<input type="text" name="title">
        </div>
        <div>
          메시지 내용<input type="text" name="content">
        </div>
        <div>
          <input type="radio" name="isPublic" value="true" id="public" checked>
          <label for="public">메시지 공개 </label>
          //
          <input type="radio" name="isPublic" value="false" id="private">
          <label for="private">메시지 비공개 </label>
        </div>
        <div>
          컬러<input type="color" name="flowerColor">
        </div>
        <br />
        <button type="button" class="write-btn" onclick="writeMsg()">작성하기</button>
      </div>
    </form>

    <div>
      <ul id="mess">
        <%if(msg) {%>
          <%let result=true%>
            <% for (let i=0; i < msg.length; i++) { %>
              <% if(result) { %>
                <form name="mesId">
                  <div>
                    <h3>여기는 왼쪽</h3>
                    <input type="hidden" name="mesId" value="<%=msg[i].message_id%>">
                    제목: <%=msg[i].title%> <br />
                      내용: <%=msg[i].content%> <br />
                        공개여부: <%=msg[i].is_public%> <br />
                          <button type="button" onclick="deleteMsg(this)">삭제하기</button>
                  </div>
                </form>
                <%result=false%>
                  <% } else {%>
                    <form name="mesId">
                      <div style="text-align: right;">
                        <h3>여기는 오른쪽</h3>
                        <input type="hidden" name="mesId" value="<%=msg[i].message_id%>">
                        제목: <%=msg[i].title%> <br />
                          내용: <%=msg[i].content%> <br />
                            공개여부: <%=msg[i].is_public%> <br />
                              <button type="button" onclick="deleteMsg(this)">삭제하기</button>
                    </form>
    </div>
    <%result=true%>
      <%}%>
        <%}%>
          <%} else {%>
            <div>
              <h3>메시지가 없습니다 ㅜㅜ</h3>
            </div>
            <%}%>
              </ul>
  </div>

  </div>

  <script>

    // 애니매이션 스크립트

    window.onload = function () {
      setTimeout(function () {
        var animationDiv = document.getElementById('animation_sky');
        animationDiv.style.opacity = '0';
        setTimeout(function () {
          animationDiv.style.display = 'none';
        }, 250);
      }, 5000);

      setTimeout(function () {
        var bushes = document.getElementsByClassName('bush-sprite-box3');
        for (var i = 0; i < bushes.length; i++) {
          bushes[i].style.setProperty('--i', i);
        }
      });

      setTimeout(function () {
        var vines = document.getElementsByClassName('box-vine-set');
        for (var i = 0; i < vines.length; i++) {
          vines[i].style.setProperty('--i', i);
        }
      });

    };



    // anime({
    //   targets: '.vine-1',
    //   strokeDashoffset: [anime.setDashoffset, 0],
    //   easing: 'easeInOutSine',
    //   duration: 5000,
    //   delay: function (el, i) {
    //     return i * 50;
    //   },
    //   direction: 'alternate',
    //   loop: false,
    // });

    anime({
      targets: '.vinepart-set:nth-child(1) .vine_one',
      strokeDashoffset: [anime.setDashoffset, 0],
      easing: 'linear',
      duration: 2000,
      delay: 2000,
      direction: 'alternate',
      loop: false,
    });

    anime({
      targets: '.vinepart-set:nth-child(2) .vine_two',
      strokeDashoffset: [anime.setDashoffset, 0],
      easing: 'linear',
      duration: 2000,
      delay: 0,
      direction: 'alternate',
      loop: false,
    });



    // 회원과 비회원을 구분하는 애니메이션 필요
    function writeMsg() {
      const form = document.forms["newMsg"]


      const msg = {
        title: form.elements.title.value,
        content: form.elements.content.value,
        is_public: form.elements.isPublic.value,
        flower_color: form.elements.flowerColor.value,
        id: form.elements.gardenId.value
      }

      if ("<%=userName%>") { // 세션에 아이디가 있을 때(로그인 O)
        axios({
          method: "POST",
          url: "/home/garden",
          data: msg
        }).then((res) => {
          if (res.data.result) {
            alert("메시지 작성 완료")
            location.reload()
          } else {
            alert("메시지 작성 실패 ㅜㅜ")
          }
        })
      } else { // 세션에 아이디가 없을 때(로그인 X)
        axios({
          method: "POST",
          url: "/home/garden",
          data: msg
        }).then((res) => {
          if (res.data.result) {
            alert("메시지 작성 완료")
            location.reload()
          } else {
            alert("메시지 작성 실패 ㅜㅜ")
          }
        })
      }
    }

    function randomWalk() {
      axios({
        method: "GET",
        url: '/home/garden/random'
      }).then((res) => {
        let num = res.data.data
        console.log("res : ", res)
        console.log("res.data : ", res.data)
        console.log("num : ", num)
        randomPage(num)
      })
    }

    function randomPage(id) {
      console.log("매개변수: ", id)
      axios({
        method: "GET",
        url: `/home/garden/${id}`
      }).then((res) => {
        location.href = `/home/garden/${id}`
      })
    }


    // 메시지 삭제
    function deleteMsg(button) {
      const form = button.closest("form")
      let delMess = {
        mesId: form.querySelector('[name="mesId"]').value,
        gdName: "<%=userName%>"
      }
      console.log("mesId : ", delMess.mesId)
      console.log("gardenId : ", delMess.gardenId)

      axios({
        method: "DELETE",
        url: "/home/garden",
        data: delMess
      }).then((res) => {
        console.log("res.data", res.data)
        if (res.data.result) {
          alert("삭제되었습니다")
          location.reload()
        } else {
          // 주인만 삭제 가능
          location.reload()
        }
      }).catch((err) => {
        console.log("에러발생")
      })

    }


    $("buttion[name=delMsg]").on("click", function () {
      console.log("value : ", this.value)
    })

    function profile() {
      axios({
        method: "GET",
        url: "/user/profile"
      }).then((res) => {
        console.log('res', res.data)
        if (res.data) location.href = '/user/profile'
        else { alert("마이페이지 접근 불가 ;ㅁ;") }
      })
    }

    function signOut() {
      axios({
        method: "POST",
        url: "/home/signout",
      }).then((res) => {
        if (res.data.result) location.href = '/home'
        else { alert("로그아웃 실패 ;ㅁ;") }
      })
    }

  </script>
</body>

</html>